apiVersion: v1
kind: Secret
metadata:
  name: adrift-ecr-creds
  namespace: adrift  # Sets Namespace
type: kubernetes.io/dockerconfigjson
data:
  # base64 encoded values only, local dev values
  .dockerconfigjson: "base64_docker_config"
